<!DOCTYPE html>
<html>
<head>
    <title>Job application</title>
</head>
<body>
    <span>Hi <%= hrName %>,</span>
    <p>I am <%= userName %>, I have very good experience in technologies like <%= technologies %>. I have solved more than 150 problems on Data Structure and Algorithms and have a good grasp on it.</p>
    <p><%- profiles %></p>
    <p>There is an opening in your organization for the same skill set that I have experience. So I am applying for that position . I have attached my updated resume along with this mail. </p>
    <p>Thanks & Regards, </p>
    <p><%= userName %> </p>
</body>
</html>