<!DOCTYPE html>
<html>
<head>
    <title>Job application</title>
</head>
<body>
    <span>Hi <%= hrName %>,</span>
    <p>I hope you are doing well. My name is <%= userName %>, and I am excited to apply for the  <%= role %> position at <%= companyName %>. I have total <%= yearsOfExperience %> experience. Also I am very good in technologies like <%= technologies %>. Additionally, I have solved over 150 problems in Data Structures and Algorithms, which has strengthened my problem-solving skills and technical proficiency.</p>
    <p>You can find more details about my work and experience here:
        <%- profiles %>
    </p>
    <p>Given that this role aligns perfectly with my skill set and experience, I am eager for the opportunity to contribute to your team. Please find my updated resume attached for your reference. </p>
    <p>I would love the chance to discuss how my expertise can add value to <%= companyName %>. Looking forward to your response.</p>
    <p>Thanks & Regards, </p>
    <p><%= userName %> </p>
</body>
</html>